In [52]:
import numpy as np
import pandas as pd

In [53]:
# Historia de merger de las galaxias mayores a 10**10 del snap 28 de la simulación RefL0100N1504
merger = pd.read_csv('/home/ramiro/Facultad/Tesis/Datos/Actividad 7/Actividad_8(merger_history_solo_satar_mass).dat')

In [54]:
# Tamaño de visualización de los DataFrame

pd.options.display.max_rows = 25
pd.options.display.max_columns = 100

In [55]:
cota_superior_merger=85 # Level of merger mínimo que queremos para la historia de cada galaxia

In [70]:
data = {'GalaxyID_test':[],'Max_snap':[],'GroupID_test':[],
        'Lm_snap1':[],'Lm_snap2':[],'Lm_snap3':[],'Lm_snap4':[],
        'Lm_snap5':[],'Lm_snap6':[],'Lm_snap7':[],'Lm_snap8':[],
        'Lm_snap9':[],'Lm_snap10':[],'Lm_snap11':[],'Lm_snap12':[],
        'Lm_snap13':[],'Lm_snap14':[],'Lm_snap15':[],'Lm_snap16':[],
        'Lm_snap17':[],'Lm_snap18':[],'Lm_snap19':[],'Lm_snap20':[],
        'Lm_snap21':[],'Lm_snap22':[],'Lm_snap23':[],'Lm_snap24':[],
        'Lm_snap25':[],'Lm_snap26':[],'Lm_snap27':[],'Lm_snap28':[]}

DATA_merge = pd.DataFrame(data=data)

for i in np.arange(len(merger)):
    
    j=1
    
    for k in np.arange(1,29):
        if merger['Lm_snap'+str(j)].iloc[i]<=cota_superior_merger:
            j=j+1
        
        elif merger['Lm_snap'+str(j)].iloc[i]==np.nan:
            j=j+1
     
        elif j==29:
            DATA_merge = DATA_merge.append(merger.iloc[i])
        
        else:break
            
        

DATA_merge = DATA_merge.astype({'GalaxyID_test':int,'GroupID_test':int,
                                'Lm_snap1':float, 'Lm_snap2':float, 'Lm_snap3':float, 'Lm_snap4':float,
                                'Lm_snap5':float, 'Lm_snap6':float, 'Lm_snap7':float, 'Lm_snap8':float,
                                'Lm_snap9':float, 'Lm_snap10':float,'Lm_snap11':float,'Lm_snap12':float,
                                'Lm_snap13':float,'Lm_snap14':float,'Lm_snap15':float,'Lm_snap16':float,
                                'Lm_snap17':float,'Lm_snap18':float,'Lm_snap19':float,'Lm_snap20':float,
                                'Lm_snap21':float,'Lm_snap22':float,'Lm_snap23':float,'Lm_snap24':float,
                                'Lm_snap25':float,'Lm_snap26':float,'Lm_snap27':float,'Lm_snap28':float})

# long=[]
# for i in np.arange(1,29):
#     for j in np.arange(len(DATA_merge)):
#         if DATA_merge['Lm_snap'+str(i)].iloc[j]<=cota_superior_merger:
#               long.append(i)
            
# DATA_merge['Max_snap'] = long

In [71]:
np.arange(len(merger))

array([   0,    1,    2, ..., 3635, 3636, 3637])

In [72]:
DATA_merge

Empty DataFrame
Columns: [GalaxyID_test, Max_snap, GroupID_test, Lm_snap1, Lm_snap2, Lm_snap3, Lm_snap4, Lm_snap5, Lm_snap6, Lm_snap7, Lm_snap8, Lm_snap9, Lm_snap10, Lm_snap11, Lm_snap12, Lm_snap13, Lm_snap14, Lm_snap15, Lm_snap16, Lm_snap17, Lm_snap18, Lm_snap19, Lm_snap20, Lm_snap21, Lm_snap22, Lm_snap23, Lm_snap24, Lm_snap25, Lm_snap26, Lm_snap27, Lm_snap28]
Index: []

In [7]:
# DATA_merge.to_csv(path_or_buf= 'Max_snap(Lm>'+str(cota_inferior_merger)+').dat',index=False)   # Nos guardamos los datos

In [36]:
# Fin