# Datos de galaxias durante su magor merger

Analizmos el snap anterior de la galaxia en el cual sufrió un magor merger, descargando los datos de sus progenitores condensandolos en suma de la masa de estrellas, masa de agujero negro, etc. Con ésto nos queda una tabla con n filas, cada una correspondiente al total de los magor merger analizados.
Además descargamos las propiedades de la galaxia principal en el snap de merger y el anterior, para diferentes catálogos.

In [1]:
import numpy as np
import pandas as pd
import merger_tree_tools as mtt
import eagleSqlTools as sql
from astropy.cosmology import FlatLambdaCDM
import random

In [2]:
# Tamaño de visualización de los DataFrame

pd.options.display.max_rows = 100
pd.options.display.max_columns = 50

In [3]:
np.seterr(all="ignore")

{'divide': 'warn', 'over': 'warn', 'under': 'ignore', 'invalid': 'warn'}

In [4]:
pd.options.mode.chained_assignment = None

In [2]:
cosmo = FlatLambdaCDM(H0=67.77, Om0=0.307)

In [23]:
cosmo.age([20,15.13,9.99,3.53,3.02,2.48,0.18,0.1,0]).value

array([ 0.18038568,  0.26795272,  0.4763532 ,  1.79332554,  2.14153877,
        2.650799  , 11.53145962, 12.47710306, 13.8205298 ])

In [6]:
path_lin ='/home/ramiro/Facultad/Tesis/Datos/Actividad 07/'

In [7]:
merger = pd.read_csv(path_lin+'/Actividad_8(merger_history_tesis).dat')

### Descargamos las tablas que usamos

# Historia de merger de las galaxias mayores a 10**10 del snap 28
merger = pd.read_csv('/home/ramiro/Facultad/Tesis/Datos/Actividad 10/Actividad_8(merger_history_solo_star_mass)_(mstar>10e8).dat')

In [8]:
# Tamaño de visualización de los DataFrame

pd.options.display.max_rows = 20
pd.options.display.max_columns = 40

## Vemos la historia de mergers para elegir las galaxias que nos interezan

In [9]:
cota_superior_merger = 4 # Level of merger máximo que queremos para la historia de cada galaxia
cota_inferior_merger = 1.1 # Level of merger mínimo que queremos para la historia de cada galaxia
cota_snap = 12 # Desde que snap queremos ver

In [10]:
merger

,GalaxyID_test,GroupID_test,Lm_snap1,Lm_snap2,Lm_snap3,Lm_snap4,Lm_snap5,Lm_snap6,Lm_snap7,Lm_snap8,Lm_snap9,Lm_snap10,Lm_snap11,Lm_snap12,Lm_snap13,Lm_snap14,Lm_snap15,Lm_snap16,Lm_snap17,Lm_snap18,Lm_snap19,Lm_snap20,Lm_snap21,Lm_snap22,Lm_snap23,Lm_snap24,Lm_snap25,Lm_snap26,Lm_snap27,Lm_snap28
0,9508202,28000000000002,1.0,1.0,1.0,1.000000,1.002106,1.000000,1.000000,1.154301,1.052536,1.026712,1.009268,1.015766,1.011858,1.001410,1.013329,1.157039,1.019860,1.018284,1.325888,1.001960,1.001375,1.001270,1.000906,1.003066,1.003269,1.000422,1.000041,1.000026
1,9512113,28000000000002,NaN,1.0,1.0,1.000000,1.059083,1.145265,1.098566,1.004742,1.009444,1.009876,1.005313,1.643906,1.013015,1.009925,1.016428,1.016669,1.013318,1.013088,1.011126,1.056747,1.037038,1.031775,1.006031,1.545426,1.004371,1.000724,1.004989,1.002306
2,9517736,28000000000002,NaN,NaN,NaN,NaN,1.000000,1.093553,1.597078,1.000000,1.013781,1.000000,1.286813,1.170404,1.281034,1.001101,1.000000,1.000478,1.000759,1.000281,1.033117,1.000000,1.000466,1.000288,1.000000,1.000000,1.000000,1.000000,1.000000,1.149819
3,14957972,28000000000002,NaN,1.0,1.0,1.000000,1.000000,1.426407,1.004622,1.070797,1.955189,1.018176,1.001103,1.014137,1.028548,1.013857,1.218410,1.000408,1.012536,1.015430,1.031133,1.016775,1.028246,1.002819,1.005879,1.009619,1.000468,1.003313,1.006752,1.002147
4,21573586,28000000000002,NaN,1.0,1.0,1.360348,1.000000,1.006582,1.000000,1.011674,1.004325,1.037576,1.076530,1.008525,2.372777,1.057191,1.046380,1.061165,1.019941,1.008422,1.016736,1.011502,1.017296,1.047427,NaN,1.000308,1.001656,1.040518,1.004016,1.032796
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3088,10365607,28000000002202,NaN,NaN,NaN,1.000000,1.164854,1.000000,1.000000,1.130157,1.000000,1.930738,1.469582,1.012441,1.005037,1.009193,1.001961,1.000924,1.001692,1.000000,1.075959,1.000100,1.000000,1.026006,1.000000,1.000000,1.000000,1.016448,1.004434,1.007574
3089,10859653,28000000002570,NaN,NaN,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.021251,1.357690,1.179028,1.013994,1.001458,1.000000,1.000000,1.016758,1.000204,1.000428,1.021991,1.001346,1.031832,1.006474,1.019819,1.011399,1.018091,1.004723
3090,11104654,28000000002905,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,2.212125,1.000000,1.007274,1.000000,1.078916,1.052454,1.044384,1.014925,1.000000,1.000000,1.000890,1.000000,1.000000,1.006921,1.010470,1.019846,1.007583,1.000080,1.000000,1.000000
3091,11247394,28000000003127,NaN,NaN,NaN,NaN,NaN,1.000000,1.077537,1.020323,1.000000,1.116517,1.006139,1.005826,1.005988,1.024544,1.000901,1.025966,1.064334,1.029343,1.011607,1.006884,1.051146,1.032450,1.025138,1.015010,1.000000,1.044437,1.010796,1.008742
3092,12002343,28000000004258,NaN,1.0,1.0,1.000000,1.000000,1.000000,1.000000,1.057217,1.000000,1.000000,1.000000,1.028301,1.255563,1.086567,1.000957,1.000000,1.002259,1.000947,1.000180,1.000000,1.000000,1.000000,1.000000,1.332312,1.000000,1.000094,1.000000,1.000000

## Descarga de datos:

In [20]:
# Acá decidimos cuantas galaxias queremos en la tabla

# long = 5
long = len(merger['GalaxyID_test'])

In [22]:
segundos = 20
print('Estimación de duración:  ',int((segundos*long)/3600),':',int(((segundos*long)%3600)/60),':',round((segundos*long)%60))

Estimación de duración:   17 : 11 : 0

In [23]:
CATALOGO = pd.DataFrame()

# DataFrame para las ramas principales
LAST_SUB = pd.DataFrame()
LAST_MOR = pd.DataFrame()
LAST_SIZ = pd.DataFrame()
LAST_FOF = pd.DataFrame()

# DataFrame para los progenitores, es más data que la que necesito.

# LAST_MOR_TREE = pd.DataFrame()
# LAST_SIZ_TREE = pd.DataFrame()
# LAST_SUB_TREE = pd.DataFrame()

# DataFrame que contiene la información condensada de los progenitores

PROGENITOR = pd.DataFrame(columns=['GalaxyID_snap28','Lm','SnapNum','Stars_Mass_tot','SF_Mass_tot','NSF_Mass_tot','M_Zstar_tot','MSF_O_tot','MSF_H_tot','BlackHoleMass_tot'])

for ID in np.arange(long):
    
    list_merger = [] # Creamos una lista con los snaps en donde ocurren max mergers

    for snap in np.arange(cota_snap,29):
        if (merger['Lm_snap'+str(snap)].iloc[ID] > cota_inferior_merger) and (merger['Lm_snap'+str(snap)].iloc[ID] <= cota_superior_merger):
            list_merger.append(snap)
            

    for maxsnap in list_merger:
        
        CATALOGOS=['Subhalo','Sizes','MorphoKinem']

        ALIAS=['sub','siz','mor']

        COLUMNAS=[
                   [
                    'GalaxyID','GroupID','SubGroupNumber','LastProgID','TopLeafID','DescendantID',
                    'SnapNum','Stars_Mass','SF_Hydrogen','SF_Oxygen','Redshift',
                    'StarFormationRate','Stars_Metallicity','SF_Mass','NSF_Mass','BlackHoleMass','MassType_DM',
                    'SF_Metallicity','Vmax','CentreOfPotential_x','CentreOfPotential_y','CentreOfPotential_z','HalfMassRad_Star'
                   ],
                   [
                    'GalaxyID','R_halfmass30','R_halfmass100'
                   ],
                   [
                    'GalaxyID', 'KappaCoRot'
                   ]
                 ]

        # Lista con las diferentes catálogos 
        DATAFRAMES=[]

        # Simulación a usar y datos de galaxia deseada
        simu='RefL0100N1504'

        snap=28
        galid=merger['GalaxyID_test'].iloc[ID]

        # Usuario y contraseña para conectarse a EAGLE DataBase
        usr='cht015'
        pwd='BH457tfj'

        # Descargar todos los IDS necesarios de la galaxia deseada

        myIDs=mtt.retrieve_ids(usr,pwd,simu,snap,galid)

        for j in np.arange(len(CATALOGOS)):
            # Descargar merger tree completo de la galaxia deseada
            # Nombre y alias de la tabla de la cual se quieren descargar datos
            table=CATALOGOS[j]
            table_alias=ALIAS[j]

            # Variables que se quiere descargar. OJO!! Asegurarse que estas variables
            # estén en la tabla deseada.
            columns=COLUMNAS[j]

            tree=mtt.download_merger_tree(usr,pwd,simu,myIDs['GalaxyID'],myIDs['LastProgID'],table=table,table_alias=table_alias,columns=columns)

            # NOTA: si ya se tiene descargados en un archivo todas las galaxias de la simu, se puede
            #       saltear esta celda, y en su lugar, leer dicho archivo de datos y usar máscaras
            #       para seleccionar las galaxias del árbol deseado
     
            # Aplicar condiciones a las galaxias del árbol, si es necesario

            # Armar arbol sólo con galaxias seleccionadas según condiciones anteriores

            if ALIAS[j]=='sub':
                # Agregar variables al árbol final, si es necesario
                tree['sSFR']=tree['StarFormationRate']/tree['Stars_Mass']
                tree['SF_logOH']=12+np.log10(tree['SF_Oxygen']/tree['SF_Hydrogen'])-np.log10(16)

            DATAFRAMES.append(pd.DataFrame(tree))
    
        Sub_tree_a=DATAFRAMES[0]
        Siz_tree_a=DATAFRAMES[1]
        Mor_tree_a=DATAFRAMES[2]

        # Borro algunas variables
        del DATAFRAMES

        ## Armamos las ramas principales

        # Seleccionamos la histora particular de las fusiones para las galaxias seleccionadas 
        mask_a = (merger['GalaxyID_test'] == galid)
        merger_a = merger[mask_a].drop(labels=['GalaxyID_test','GroupID_test'],axis=1).copy()

        # RedShift correspondiente a los sanps 1 a 28
        redshift = [15.13, 9.99, 8.99, 8.07, 7.05, 5.97, 5.49, 5.04, 4.49, 3.98,
                     3.53, 3.02, 2.48, 2.24, 2.01, 1.74, 1.49, 1.26, 1.00, 0.87,
                     0.74, 0.62, 0.50, 0.37, 0.27, 0.18, 0.10, 0.00]

        REDSHIFT = ['15.13', '9.99', '8.99', '8.07', '7.05', '5.97', '5.49', '5.04', '4.49', '3.98',
                     '3.53', '3.02', '2.48', '2.24', '2.01', '1.74', '1.49', '1.26', '1.00', '0.87',
                     '0.74', '0.62', '0.50', '0.37', '0.27', '0.18', '0.10', '0.00']

        tiempo = cosmo.age(redshift).value

        # Tiramos las columnas que estén repetidas
        Sub_tree_a.drop(labels=['SubHaloGalaxyID'],axis=1,inplace=True)

        # Agregamos una columna temporal
        Sub_tree_a['tiempo'] = cosmo.age(Sub_tree_a['Redshift']).value

        # Unimos las diferentes tablas de los catálogos que tengamos

        Sub_Mor_tree_a = pd.merge(right=Mor_tree_a,left=Sub_tree_a,right_on='GalaxyID',left_on='GalaxyID')
        Sub_Siz_tree_a = pd.merge(right=Siz_tree_a,left=Sub_tree_a,right_on='GalaxyID',left_on='GalaxyID')

       # Ordenamos de manera decreciente según el redshift

        Sub_tree_a.sort_values(by=['Redshift'],ascending=False,inplace=True)
        Sub_Mor_tree_a.sort_values(by=['Redshift'],ascending=False,inplace=True)
        Sub_Siz_tree_a.sort_values(by=['Redshift'],ascending=False,inplace=True)

        # Creamos la Main Branch de cada una de las galaxias, para eso armamos un dict con myIDs

        myIDs_a = {'GalaxyID': Sub_tree_a['GalaxyID'].iloc[-1],'TopLeafID': Sub_tree_a['TopLeafID'].iloc[-1],
                   'LastProgID': Sub_tree_a['LastProgID'].iloc[-1],'DescendantID': Sub_tree_a['DescendantID'].iloc[-1]} 

        # Armo un diccionario con solo la main branch del árbol

        Main_Sub_a     = {}
        Main_Sub_Mor_a = {}
        Main_Sub_Siz_a = {}

        # Mascaras para las galaxias y los diferentes catálogos

        # Para la galxia a
        mask_main_sub_a     = np.logical_and(Sub_tree_a['GalaxyID']>=myIDs_a['GalaxyID'],
                                             Sub_tree_a['GalaxyID']<=myIDs_a['TopLeafID'])

        mask_main_sub_mor_a = np.logical_and(Sub_Mor_tree_a['GalaxyID']>=myIDs_a['GalaxyID'],
                                             Sub_Mor_tree_a['GalaxyID']<=myIDs_a['TopLeafID'])

        mask_main_sub_siz_a = np.logical_and(Sub_Siz_tree_a['GalaxyID']>=myIDs_a['GalaxyID'],
                                             Sub_Siz_tree_a['GalaxyID']<=myIDs_a['TopLeafID'])

        # Creamos la main brunch

        # Para la galaxia a
        for key in Sub_tree_a.keys():
            Main_Sub_a[key] = Sub_tree_a[key][mask_main_sub_a]
    
        for key in Sub_Mor_tree_a.keys():
            Main_Sub_Mor_a[key] = Sub_Mor_tree_a[key][mask_main_sub_mor_a]
     
        for key in Sub_Siz_tree_a.keys():
            Main_Sub_Siz_a[key] = Sub_Siz_tree_a[key][mask_main_sub_siz_a]

        # Dataframe de los catálogos para las galaxias elegidas, main brunch.
        Main_Sub_a     = pd.DataFrame(Main_Sub_a)
        Main_Sub_Mor_a = pd.DataFrame(Main_Sub_Mor_a)
        Main_Sub_Siz_a = pd.DataFrame(Main_Sub_Siz_a)

        # Listas de los catálogos para las galaxias elegidas, trees.
        SUB_TREE     = [Sub_tree_a]
        SUB_SIZ_TREE = [Sub_Siz_tree_a]
        SUB_MOR_TREE = [Sub_Mor_tree_a]

        # Listas de los catálogos para las galaxias elegidas, trees.
        SUB_MAIN     = [Main_Sub_a]
        SUB_SIZ_MAIN = [Main_Sub_Siz_a]
        SUB_MOR_MAIN = [Main_Sub_Mor_a]

        # Borro algunas variables Sub_tree_a,

        del  Sub_Siz_tree_a, Sub_Mor_tree_a, Main_Sub_a, Main_Sub_Siz_a, Main_Sub_Mor_a

        #Aplico algunas mascarás para quedarnos con los datos de las galaxias en el momento posterior y del merger. En la rama principal 
    
        mask_sub_main = (SUB_MAIN[0]['SnapNum']==maxsnap)|(SUB_MAIN[0]['SnapNum']==maxsnap-1)
        mask_siz_main = (SUB_SIZ_MAIN[0]['SnapNum']==maxsnap)|(SUB_SIZ_MAIN[0]['SnapNum']==maxsnap-1)
        mask_mor_main = (SUB_MOR_MAIN[0]['SnapNum']==maxsnap)|(SUB_MOR_MAIN[0]['SnapNum']==maxsnap-1)

        TEMP_SUB = SUB_MAIN[0][mask_sub_main]
        TEMP_SIZ = SUB_SIZ_MAIN[0][mask_siz_main]
        TEMP_MOR = SUB_MOR_MAIN[0][mask_mor_main]
   
        #Hacemos lo mismo para los progenitores, las galaxias del tree sin el progenitor principal
    
        mask_sub_tree = (SUB_TREE[0]['SnapNum']==maxsnap-1)&(SUB_TREE[0]['DescendantID'] == int(TEMP_SUB['GalaxyID'].iloc[1]))&(SUB_TREE[0]['Stars_Mass']>0)&(SUB_TREE[0]['GalaxyID'] != TEMP_SUB['GalaxyID'].iloc[0])
        mask_siz_tree = (SUB_SIZ_TREE[0]['SnapNum']==maxsnap-1)&(SUB_SIZ_TREE[0]['DescendantID'] == int(TEMP_SUB['GalaxyID'].iloc[1]))&(SUB_SIZ_TREE[0]['Stars_Mass']>0)&(SUB_SIZ_TREE[0]['GalaxyID'] != TEMP_SUB['GalaxyID'].iloc[0])
        mask_mor_tree = (SUB_MOR_TREE[0]['SnapNum']==maxsnap-1)&(SUB_MOR_TREE[0]['DescendantID'] == int(TEMP_SUB['GalaxyID'].iloc[1]))&(SUB_MOR_TREE[0]['Stars_Mass']>0)&(SUB_MOR_TREE[0]['GalaxyID'] != TEMP_SUB['GalaxyID'].iloc[0])
    

        TEMP_SUB_TREE = SUB_TREE[0][mask_sub_tree]
        TEMP_SIZ_TREE = SUB_SIZ_TREE[0][mask_siz_tree]
        TEMP_MOR_TREE = SUB_MOR_TREE[0][mask_mor_tree]
    
        #Limpiamos las tablas de algunas columnas
    
        TEMP_SIZ.drop(['GroupID', 'SubGroupNumber', 'LastProgID', 'TopLeafID','DescendantID', 'SnapNum', 'Stars_Mass',
                       'SF_Hydrogen', 'SF_Oxygen','Redshift', 'StarFormationRate', 'Stars_Metallicity', 'SF_Mass','SF_Mass','BlackHoleMass',
                       'MassType_DM', 'SF_Metallicity', 'Vmax','CentreOfPotential_x', 'CentreOfPotential_y', 'CentreOfPotential_z',
                       'HalfMassRad_Star', 'sSFR', 'SF_logOH', 'tiempo'], axis=1,inplace=True)

        TEMP_MOR.drop(['GroupID', 'SubGroupNumber', 'LastProgID', 'TopLeafID','DescendantID', 'SnapNum', 'Stars_Mass',
                       'SF_Hydrogen', 'SF_Oxygen','Redshift', 'StarFormationRate', 'Stars_Metallicity', 'SF_Mass','SF_Mass','BlackHoleMass',
                       'MassType_DM', 'SF_Metallicity', 'Vmax','CentreOfPotential_x', 'CentreOfPotential_y', 'CentreOfPotential_z',
                       'HalfMassRad_Star', 'sSFR', 'SF_logOH', 'tiempo'],axis=1,inplace=True)
    

        TEMP_SIZ_TREE.drop(['GroupID', 'SubGroupNumber', 'LastProgID', 'TopLeafID','DescendantID', 'SnapNum', 'Stars_Mass',
                            'SF_Hydrogen', 'SF_Oxygen','Redshift', 'StarFormationRate', 'Stars_Metallicity', 'SF_Mass','SF_Mass','BlackHoleMass',
                            'MassType_DM', 'SF_Metallicity', 'Vmax','CentreOfPotential_x', 'CentreOfPotential_y', 'CentreOfPotential_z',
                            'HalfMassRad_Star', 'sSFR', 'SF_logOH', 'tiempo'], axis=1,inplace=True)

        TEMP_MOR_TREE.drop(['GroupID', 'SubGroupNumber', 'LastProgID', 'TopLeafID','DescendantID', 'SnapNum', 'Stars_Mass',
                            'SF_Hydrogen', 'SF_Oxygen','Redshift', 'StarFormationRate', 'Stars_Metallicity', 'SF_Mass','SF_Mass','BlackHoleMass',
                            'MassType_DM', 'SF_Metallicity', 'Vmax','CentreOfPotential_x', 'CentreOfPotential_y', 'CentreOfPotential_z',
                            'HalfMassRad_Star', 'sSFR', 'SF_logOH', 'tiempo'],axis=1,inplace=True)
      
        # Agrego columnas con el GalaxyID en el snap 28, level of merger y el snap en el cual ocurrió:
        TEMP_SUB.insert(0,'GalaxyID_snap28',[merger['GalaxyID_test'].iloc[ID],merger['GalaxyID_test'].iloc[ID]])
#         TEMP_SIZ.insert(0,'GalaxyID_snap28',[merger['GalaxyID_test'].iloc[ID],merger['GalaxyID_test'].iloc[ID]])
#         TEMP_MOR.insert(0,'GalaxyID_snap28',[merger['GalaxyID_test'].iloc[ID],merger['GalaxyID_test'].iloc[ID]])
    
        TEMP_SUB.insert(2,'Lm_max',[merger.iloc[ID,1+maxsnap],merger.iloc[ID,1+maxsnap]])
        
        # Appendiamos los datos a las tablas permanente para la rama principal y los progenitores

        LAST_MOR = LAST_MOR.append(TEMP_MOR)
        LAST_SIZ = LAST_SIZ.append(TEMP_SIZ)
        LAST_SUB = LAST_SUB.append(TEMP_SUB)

        # Para las ramas
        toda_la_tabla = False 
        if toda_la_tabla:
        
            LAST_MOR_TREE = LAST_MOR_TREE.append(TEMP_MOR_TREE)
            LAST_SIZ_TREE = LAST_SIZ_TREE.append(TEMP_SIZ_TREE)
            LAST_SUB_TREE = LAST_SUB_TREE.append(TEMP_SUB_TREE)
    
        # Datos condenssados de los progenitores
    
        data = {'GalaxyID_snap28': int(merger['GalaxyID_test'].iloc[ID]),
                'Lm':float(merger['Lm_snap'+str(maxsnap)].iloc[ID]),
                'SnapNum':int(maxsnap),
                'Stars_Mass_tot': sum(TEMP_SUB_TREE['Stars_Mass']),
                'SF_Mass_tot': sum(TEMP_SUB_TREE['SF_Mass']),
                'NSF_Mass_tot': sum(TEMP_SUB_TREE['NSF_Mass']),
                'M_Zstar_tot': sum(TEMP_SUB_TREE['Stars_Metallicity']*TEMP_SUB_TREE['Stars_Mass']),
                'MSF_O_tot': sum(TEMP_SUB_TREE['SF_Mass']*TEMP_SUB_TREE['SF_Oxygen']),
                'MSF_H_tot': sum(TEMP_SUB_TREE['SF_Mass']*TEMP_SUB_TREE['SF_Hydrogen']),
                'BlackHoleMass_tot': sum(TEMP_SUB_TREE['BlackHoleMass'])}
        PROGENITOR = PROGENITOR.append(data,ignore_index=True)
    
        PROGENITOR = PROGENITOR.astype({'GalaxyID_snap28': int,
                                        'Lm':float,
                                        'SnapNum':int,
                                        'Stars_Mass_tot': float,
                                        'SF_Mass_tot': float,
                                        'NSF_Mass_tot': float,
                                        'M_Zstar_tot': float,
                                        'MSF_O_tot': float,
                                        'MSF_H_tot': float,
                                        'BlackHoleMass_tot': float})
        
        # Tabla y Alias de la tabla desde donde quiero descargar datos para el catálogo fof
        queremos_FOF=True
        if queremos_FOF:
            table='FOF'
            table_alias='fof'  

            # Columnas a seleccionar (agregar/quitar según sea necesario)
    
            columns=[
                     'GroupID','SnapNum','GroupCentreOfPotential_x','GroupCentreOfPotential_y','GroupCentreOfPotential_z'
                    ,'Group_M_Crit200','Group_R_Crit200','NumOfSubhalos'
                    ]

            # De qué tabla seleccionar ('FROM' en la query SQL)
    
            from_table=simu+'_'+table+' as '+table_alias
 
            DATA_FOF = pd.DataFrame()

            for i in np.arange(len(TEMP_SUB['GroupID'])):
                # Simulación y snapnum deseado
                snap = TEMP_SUB['SnapNum'].iloc[i]
                GID  = TEMP_SUB['GroupID'].iloc[i]
               # Condiciones para seleccionar ('WHERE' en la query SQL)
               # NO AGREGAR ACÁ EL ALIAS DE LA TABLA! Se agragará después
                where_cond=[
                            'SnapNum='+str(snap),
                            'GroupID='+str(GID)
                           ]

                #---------------------------------------------------------------------------

                # Armo la sentencia 'SELECT' a partir de la lista de columnas
                select=','.join([table_alias+'.'+col for col in columns])

                # Armo la sentencia 'WHERE' a paritr de la lista de condiciones
                where=' and '.join(where_cond)

                #### Conexión a la base de datos y descarga

                # Conectarse a la base de datos
                con = sql.connect(usr,password=pwd)

                # Query en SQL
                query = 'SELECT '+select+' FROM '+from_table+' WHERE '+where

                # Execute query 
                exquery = sql.execute_query(con, query)

                # List of column names of downloaded data
                colnames = (exquery.view(np.recarray).dtype.names)

                # Dictionary of data
                mytable={}
                for name in colnames:
                    mytable[name]=exquery[name]
        
                # Nuevo diccionario para poder pasarlo a dataframe, seguro que se puede hacer mejor
                newtable={}
                for name in colnames:
                    newtable[name]=float(mytable[name])
    
                if i==0:
                    DATA_FOF = pd.DataFrame(data=newtable,index=[0])
                else:DATA_FOF = DATA_FOF.append(newtable,ignore_index=True)

            DATA_FOF = DATA_FOF.astype({'GroupID':int,'SnapNum':int,'GroupCentreOfPotential_x':float, 'GroupCentreOfPotential_y':float
                                       ,'GroupCentreOfPotential_z':float, 'Group_M_Crit200':float,
                                        'Group_R_Crit200':float, 'Group_R_Crit200':float, 'NumOfSubhalos':int})

            DATA_FOF.drop(columns=['SnapNum'], inplace=True)
    
            DATA_FOF.insert(0,'GalaxyID_snap28',[merger['GalaxyID_test'].iloc[ID],merger['GalaxyID_test'].iloc[ID]])
            LAST_FOF = LAST_FOF.append(DATA_FOF)
    
        print('Porcentaje maomeno:',round(float((ID+1)/long),3),end='\r')

In [22]:
# Tablas finales

In [31]:
LAST_SUB[(LAST_SUB['Lm_max']>1.25)]

,GalaxyID_snap28,GalaxyID,Lm_max,GroupID,SubGroupNumber,LastProgID,TopLeafID,DescendantID,SnapNum,Stars_Mass,SF_Hydrogen,SF_Oxygen,Redshift,StarFormationRate,Stars_Metallicity,SF_Mass,NSF_Mass,BlackHoleMass,MassType_DM,SF_Metallicity,Vmax,CentreOfPotential_x,CentreOfPotential_y,CentreOfPotential_z,HalfMassRad_Star,sSFR,SF_logOH,tiempo
10,9508202,9508212,1.325888,18000000000420,0,9509945,9508229,9508211,18,5.369650e+10,0.685220,0.013525,1.259331,24.382942,0.017543,1.944782e+10,1.415059e+11,2.228501e+07,2.160114e+12,0.030077,290.231293,4.134301,36.264244,60.933365,2.948536,4.540882e-10,9.091198,4.958277
9,9508202,9508211,1.325888,19000100000014,0,9510922,9508229,9508210,19,7.732419e+10,0.694976,0.011286,1.004122,4.518675,0.021047,6.765464e+09,8.061938e+10,7.794502e+07,2.009037e+12,0.025742,280.503326,4.366422,36.046780,60.468857,3.527880,5.843805e-11,9.006469,5.863787
17,9512113,9512130,1.643906,11000000000613,0,9512450,9512140,9512129,11,3.227855e+09,0.739749,0.003645,3.527977,7.137663,0.004241,8.176752e+09,2.661106e+10,5.977204e+05,4.835113e+11,0.006369,213.681473,9.827008,34.368298,40.413452,2.224495,2.211272e-09,8.488534,1.794518
16,9512113,9512129,1.643906,12000000000675,0,9512701,9512140,9512128,12,8.619447e+09,0.732435,0.005369,3.016505,15.221320,0.005865,1.408580e+10,3.517984e+10,9.451499e+05,6.139000e+11,0.010003,212.682709,9.747488,34.421452,40.986462,2.934248,1.765928e-09,8.661017,2.144304
5,9512113,9512118,1.545426,23000000000303,0,9515148,9512140,9512117,23,7.151611e+10,0.672216,0.015133,0.503107,9.764566,0.020643,1.791553e+10,3.962938e+11,1.439166e+07,3.857223e+12,0.035627,272.009979,8.557704,35.433773,48.077549,9.723365,1.365366e-10,9.148296,8.603063
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16,10859653,10859669,1.357690,12000500001504,0,10859730,10859679,10859668,12,1.203792e+08,0.747143,0.001318,3.016505,0.278406,0.001371,4.353215e+08,3.878244e+09,3.307151e+05,6.893178e+10,0.002300,99.655663,56.073296,48.236095,65.271782,2.869956,2.312745e-09,8.042437,2.144304
16,12002343,12002359,1.255563,12000300000475,0,12002442,12002369,12002358,12,3.038363e+08,0.746785,0.001635,3.016505,1.042180,0.002204,1.690172e+09,9.168633e+09,1.565919e+05,1.047841e+11,0.002659,123.618881,78.092018,7.308499,70.555344,3.167273,3.430071e-09,8.136205,2.144304
15,12002343,12002358,1.255563,13000400000740,0,12002535,12002369,12002357,13,7.480112e+08,0.743693,0.002417,2.478413,1.490273,0.002986,2.511520e+09,1.087673e+10,3.110989e+05,1.091274e+11,0.004121,120.635201,78.350250,7.305860,70.707672,3.584208,1.992314e-09,8.307847,2.652582
5,12002343,12002348,1.332312,23000000004154,0,12002697,12002369,12002347,23,7.386258e+09,0.683160,0.013288,0.503107,0.960657,0.015095,1.601291e+09,3.022559e+09,7.147219e+05,2.760664e+11,0.031050,132.248779,80.991676,7.729811,71.385406,3.391604,1.300600e-10,9.084809,8.603063
4,12002343,12002347,1.332312,24000000004496,0,12002981,12002369,12002346,24,9.856466e+09,0.657378,0.017227,0.365669,0.626836,0.016350,1.130934e+09,2.837186e+09,9.216158e+05,2.667786e+11,0.042082,137.154358,81.332550,7.638118,71.183464,3.996223,6.359645e-11,9.214283,9.698071

In [25]:
merger

,GalaxyID_test,GroupID_test,Lm_snap1,Lm_snap2,Lm_snap3,Lm_snap4,Lm_snap5,Lm_snap6,Lm_snap7,Lm_snap8,Lm_snap9,Lm_snap10,Lm_snap11,Lm_snap12,Lm_snap13,Lm_snap14,Lm_snap15,Lm_snap16,Lm_snap17,Lm_snap18,Lm_snap19,Lm_snap20,Lm_snap21,Lm_snap22,Lm_snap23,Lm_snap24,Lm_snap25,Lm_snap26,Lm_snap27,Lm_snap28
0,9508202,28000000000002,1.0,1.0,1.0,1.000000,1.002106,1.000000,1.000000,1.154301,1.052536,1.026712,1.009268,1.015766,1.011858,1.001410,1.013329,1.157039,1.019860,1.018284,1.325888,1.001960,1.001375,1.001270,1.000906,1.003066,1.003269,1.000422,1.000041,1.000026
1,9512113,28000000000002,NaN,1.0,1.0,1.000000,1.059083,1.145265,1.098566,1.004742,1.009444,1.009876,1.005313,1.643906,1.013015,1.009925,1.016428,1.016669,1.013318,1.013088,1.011126,1.056747,1.037038,1.031775,1.006031,1.545426,1.004371,1.000724,1.004989,1.002306
2,9517736,28000000000002,NaN,NaN,NaN,NaN,1.000000,1.093553,1.597078,1.000000,1.013781,1.000000,1.286813,1.170404,1.281034,1.001101,1.000000,1.000478,1.000759,1.000281,1.033117,1.000000,1.000466,1.000288,1.000000,1.000000,1.000000,1.000000,1.000000,1.149819
3,14957972,28000000000002,NaN,1.0,1.0,1.000000,1.000000,1.426407,1.004622,1.070797,1.955189,1.018176,1.001103,1.014137,1.028548,1.013857,1.218410,1.000408,1.012536,1.015430,1.031133,1.016775,1.028246,1.002819,1.005879,1.009619,1.000468,1.003313,1.006752,1.002147
4,21573586,28000000000002,NaN,1.0,1.0,1.360348,1.000000,1.006582,1.000000,1.011674,1.004325,1.037576,1.076530,1.008525,2.372777,1.057191,1.046380,1.061165,1.019941,1.008422,1.016736,1.011502,1.017296,1.047427,NaN,1.000308,1.001656,1.040518,1.004016,1.032796
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3088,10365607,28000000002202,NaN,NaN,NaN,1.000000,1.164854,1.000000,1.000000,1.130157,1.000000,1.930738,1.469582,1.012441,1.005037,1.009193,1.001961,1.000924,1.001692,1.000000,1.075959,1.000100,1.000000,1.026006,1.000000,1.000000,1.000000,1.016448,1.004434,1.007574
3089,10859653,28000000002570,NaN,NaN,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.021251,1.357690,1.179028,1.013994,1.001458,1.000000,1.000000,1.016758,1.000204,1.000428,1.021991,1.001346,1.031832,1.006474,1.019819,1.011399,1.018091,1.004723
3090,11104654,28000000002905,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,2.212125,1.000000,1.007274,1.000000,1.078916,1.052454,1.044384,1.014925,1.000000,1.000000,1.000890,1.000000,1.000000,1.006921,1.010470,1.019846,1.007583,1.000080,1.000000,1.000000
3091,11247394,28000000003127,NaN,NaN,NaN,NaN,NaN,1.000000,1.077537,1.020323,1.000000,1.116517,1.006139,1.005826,1.005988,1.024544,1.000901,1.025966,1.064334,1.029343,1.011607,1.006884,1.051146,1.032450,1.025138,1.015010,1.000000,1.044437,1.010796,1.008742
3092,12002343,28000000004258,NaN,1.0,1.0,1.000000,1.000000,1.000000,1.000000,1.057217,1.000000,1.000000,1.000000,1.028301,1.255563,1.086567,1.000957,1.000000,1.002259,1.000947,1.000180,1.000000,1.000000,1.000000,1.000000,1.332312,1.000000,1.000094,1.000000,1.000000

In [26]:
Sub_tree_a

,GalaxyID,GroupID,SubGroupNumber,LastProgID,TopLeafID,DescendantID,SnapNum,Stars_Mass,SF_Hydrogen,SF_Oxygen,Redshift,StarFormationRate,Stars_Metallicity,SF_Mass,NSF_Mass,BlackHoleMass,MassType_DM,SF_Metallicity,Vmax,CentreOfPotential_x,CentreOfPotential_y,CentreOfPotential_z,HalfMassRad_Star,sSFR,SF_logOH,tiempo
613,12002956,2124400000212,0,12002956,12002956,12002955,2,0.000000e+00,0.000000,0.000000,9.993033e+00,0.000000,0.000000,0.000000e+00,6.147040e+07,0.000,3.684117e+08,0.000000,32.797855,76.170937,8.003867,70.266983,0.000000,NaN,NaN,0.476156
339,12002682,2100700000244,0,12002682,12002682,12002681,2,0.000000e+00,0.000000,0.000000,9.993033e+00,0.000000,0.000000,0.000000e+00,7.412607e+07,0.000,4.265820e+08,0.000000,39.386562,77.558701,7.710153,70.448242,0.000000,NaN,NaN,0.476156
446,12002789,2136000000043,0,12002789,12002789,12002788,2,0.000000e+00,0.000000,0.000000,9.993033e+00,0.000000,0.000000,0.000000e+00,5.423859e+07,0.000,3.587167e+08,0.000000,30.519138,76.655159,6.810548,70.395027,0.000000,NaN,NaN,0.476156
86,12002429,2096300000091,0,12002429,12002429,12002428,2,0.000000e+00,0.000000,0.000000,9.993033e+00,0.000000,0.000000,0.000000e+00,4.700678e+07,0.000,2.423762e+08,0.000000,23.282909,77.171570,7.861304,70.305199,0.000000,NaN,NaN,0.476156
87,12002430,2096300000091,1,12002430,12002430,12002428,2,0.000000e+00,0.000000,0.000000,9.993033e+00,0.000000,0.000000,0.000000e+00,2.169543e+07,0.000,1.745108e+08,0.000000,20.618061,77.201149,7.882002,70.320152,0.000000,NaN,NaN,0.476156
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
668,12003011,25000000004595,8,12003028,12003027,12002345,25,0.000000e+00,0.000000,0.000000,2.709011e-01,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000,2.035960e+08,0.000000,17.420670,81.502914,7.804148,70.980042,0.000000,NaN,NaN,10.576508
648,12002991,25000000004595,7,12003010,12003010,12002345,25,1.048990e+06,0.000000,0.000000,2.709011e-01,0.000000,0.000680,0.000000e+00,3.777981e+06,0.000,1.939009e+08,0.000000,21.642836,81.486717,7.542140,70.932877,0.951294,0.000000e+00,NaN,10.576508
2,12002345,26000000004578,0,12003047,12002369,12002344,26,1.028238e+10,0.644843,0.018942,1.827099e-01,0.490726,0.018260,1.007705e+09,1.374541e+09,1223443.000,2.622704e+11,0.047645,138.171509,81.654861,7.545869,70.639404,3.948692,4.772494e-11,9.263858,11.501236
1,12002344,27000000001214,2,12003047,12002369,12002343,27,1.041582e+10,0.621902,0.022615,1.006385e-01,0.307489,0.019048,6.328595e+08,1.087528e+09,1077760.500,2.565309e+11,0.057609,136.415543,81.709435,7.524511,70.282089,4.013488,2.952136e-11,9.356546,12.469128
0,12002343,28000000004258,0,12003047,12002369,12002343,28,1.051248e+10,0.607302,0.025038,2.220446e-16,0.195091,0.019753,5.572393e+08,7.774894e+08,1229338.875,2.778406e+11,0.064016,136.535370,81.653595,7.551041,69.749985,4.104519,1.855808e-11,9.411070,13.820529

In [27]:
SUB_TREE[0]

,GalaxyID,GroupID,SubGroupNumber,LastProgID,TopLeafID,DescendantID,SnapNum,Stars_Mass,SF_Hydrogen,SF_Oxygen,Redshift,StarFormationRate,Stars_Metallicity,SF_Mass,NSF_Mass,BlackHoleMass,MassType_DM,SF_Metallicity,Vmax,CentreOfPotential_x,CentreOfPotential_y,CentreOfPotential_z,HalfMassRad_Star,sSFR,SF_logOH,tiempo
613,12002956,2124400000212,0,12002956,12002956,12002955,2,0.000000e+00,0.000000,0.000000,9.993033e+00,0.000000,0.000000,0.000000e+00,6.147040e+07,0.000,3.684117e+08,0.000000,32.797855,76.170937,8.003867,70.266983,0.000000,NaN,NaN,0.476156
339,12002682,2100700000244,0,12002682,12002682,12002681,2,0.000000e+00,0.000000,0.000000,9.993033e+00,0.000000,0.000000,0.000000e+00,7.412607e+07,0.000,4.265820e+08,0.000000,39.386562,77.558701,7.710153,70.448242,0.000000,NaN,NaN,0.476156
446,12002789,2136000000043,0,12002789,12002789,12002788,2,0.000000e+00,0.000000,0.000000,9.993033e+00,0.000000,0.000000,0.000000e+00,5.423859e+07,0.000,3.587167e+08,0.000000,30.519138,76.655159,6.810548,70.395027,0.000000,NaN,NaN,0.476156
86,12002429,2096300000091,0,12002429,12002429,12002428,2,0.000000e+00,0.000000,0.000000,9.993033e+00,0.000000,0.000000,0.000000e+00,4.700678e+07,0.000,2.423762e+08,0.000000,23.282909,77.171570,7.861304,70.305199,0.000000,NaN,NaN,0.476156
87,12002430,2096300000091,1,12002430,12002430,12002428,2,0.000000e+00,0.000000,0.000000,9.993033e+00,0.000000,0.000000,0.000000e+00,2.169543e+07,0.000,1.745108e+08,0.000000,20.618061,77.201149,7.882002,70.320152,0.000000,NaN,NaN,0.476156
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
668,12003011,25000000004595,8,12003028,12003027,12002345,25,0.000000e+00,0.000000,0.000000,2.709011e-01,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000,2.035960e+08,0.000000,17.420670,81.502914,7.804148,70.980042,0.000000,NaN,NaN,10.576508
648,12002991,25000000004595,7,12003010,12003010,12002345,25,1.048990e+06,0.000000,0.000000,2.709011e-01,0.000000,0.000680,0.000000e+00,3.777981e+06,0.000,1.939009e+08,0.000000,21.642836,81.486717,7.542140,70.932877,0.951294,0.000000e+00,NaN,10.576508
2,12002345,26000000004578,0,12003047,12002369,12002344,26,1.028238e+10,0.644843,0.018942,1.827099e-01,0.490726,0.018260,1.007705e+09,1.374541e+09,1223443.000,2.622704e+11,0.047645,138.171509,81.654861,7.545869,70.639404,3.948692,4.772494e-11,9.263858,11.501236
1,12002344,27000000001214,2,12003047,12002369,12002343,27,1.041582e+10,0.621902,0.022615,1.006385e-01,0.307489,0.019048,6.328595e+08,1.087528e+09,1077760.500,2.565309e+11,0.057609,136.415543,81.709435,7.524511,70.282089,4.013488,2.952136e-11,9.356546,12.469128
0,12002343,28000000004258,0,12003047,12002369,12002343,28,1.051248e+10,0.607302,0.025038,2.220446e-16,0.195091,0.019753,5.572393e+08,7.774894e+08,1229338.875,2.778406e+11,0.064016,136.535370,81.653595,7.551041,69.749985,4.104519,1.855808e-11,9.411070,13.820529

In [28]:
# PROGENITOR.to_csv(path_or_buf= 'suma_de_prop_progenitores.dat',index=False)

In [29]:
LAST_SUB.to_csv(path_or_buf= 'Subhalo_maxmergers(desde_minor_merger).dat',index=False)
LAST_MOR.to_csv(path_or_buf= 'MorphoKinem_maxmergers(desde_minor_merger).dat',index=False)
LAST_SIZ.to_csv(path_or_buf= 'Sizes_maxmergers(desde_minor_merger).dat',index=False)
LAST_FOF.to_csv(path_or_buf= 'FOF_maxmergers(desde_minor_merger).dat',index=False)

In [ ]:
# Fin