# Script para historias de merger para galaxias mayores a 10^10 en el snap 28

In [1]:
import merger_tree_tools as mtt
import numpy as np
from astropy.table import Table
from astropy.cosmology import Planck15 as cosmo
import h5py
import pandas as pd

In [2]:
path_lin ='/home/ramiro/Facultad/Tesis/Datos/Actividad 07/' 
# path_win =

In [3]:
# Tamaño de visualización de los DataFrame

pd.options.display.max_rows = 28
pd.options.display.max_columns = 50

In [4]:
table  = pd.read_csv(path_lin+'Aperturas_RefL0100N1504_snap_28_aperture_30.dat')

In [6]:
table_a = table[(table['Stars_Mass']>=1e10)].copy()
table_a

,GalaxyID,GroupID,SnapNum,Redshift,SubGroupNumber,CentreOfPotential_x,CentreOfPotential_y,CentreOfPotential_z,Stars_Mass,SF_Mass,NSF_Mass,MassType_DM,MassType_BH,HalfMassRad_Star,HalfMassRad_Gas,HalfMassRad_DM,Stars_Hydrogen,Stars_Oxygen,Stars_Metallicity,SF_Hydrogen,SF_Oxygen,SF_Metallicity,NSF_Hydrogen,NSF_Oxygen,NSF_Metallicity,StarFormationRate,InitialMassWeightedStellarAge,ApertureSize,Mass_Star,SFR_30pkpc,Group_R_Crit200,Group_M_Crit200
0,9498012,28000000000002,28,2.220446e-16,6,8.913222,35.828056,54.839039,1.538708e+11,0.000000e+00,0.000000e+00,1.155126e+12,326427936.0,8.828579,0.000000,51.459740,0.702619,0.010399,0.022648,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10.139413,30,1.307842e+11,0.000000,1411.312012,3.002119e+14
1,9508202,28000000000002,28,2.220446e-16,7,6.904262,35.705917,57.397373,7.604099e+10,2.281596e+09,2.092023e+09,1.333670e+12,153116688.0,5.646945,13.542416,58.068565,0.706620,0.009627,0.020858,0.683290,0.013139,0.031129,0.727174,0.004796,0.011342,0.841832,9.455478,30,6.641890e+10,0.823222,1411.312012,3.002119e+14
2,9512113,28000000000002,28,2.220446e-16,8,8.682913,35.504921,54.217369,1.345128e+11,1.514760e+10,1.042460e+09,9.284558e+11,82226744.0,8.825949,8.690082,31.709030,0.692011,0.011879,0.027149,0.653404,0.018432,0.043899,0.696796,0.010628,0.024796,12.094972,7.656161,30,1.183275e+11,10.984530,1411.312012,3.002119e+14
3,9517736,28000000000002,28,2.220446e-16,9,8.278317,37.063808,54.914932,2.232997e+10,2.754609e+09,2.897005e+09,1.024233e+12,64983852.0,4.576159,11.246859,90.403458,0.714658,0.007868,0.017358,0.687601,0.012345,0.029053,0.714222,0.007443,0.017283,1.334875,8.117089,30,2.024596e+10,1.322288,1411.312012,3.002119e+14
4,9519365,28000000000002,28,2.220446e-16,10,8.262937,36.454063,55.901993,4.833353e+10,0.000000e+00,0.000000e+00,7.217380e+11,60787016.0,9.249007,0.000000,45.274704,0.707686,0.009212,0.020506,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.520104,30,3.944613e+10,0.000000,1411.312012,3.002119e+14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13131,10365607,28000000002202,28,2.220446e-16,0,35.516003,10.797990,34.600616,1.226640e+10,1.538676e+09,1.757157e+10,6.458646e+11,10945580.0,4.841568,91.218033,74.209679,0.709566,0.008757,0.019559,0.682828,0.013300,0.031500,0.740806,0.002266,0.005160,0.456897,7.618259,30,1.191011e+10,0.433110,179.046371,6.129222e+11
13145,10859653,28000000002570,28,2.220446e-16,0,61.355499,48.616516,65.236801,1.094640e+10,3.207207e+09,1.493651e+10,5.079235e+11,12881703.0,5.472824,78.298828,67.567772,0.713001,0.008167,0.018173,0.692109,0.011724,0.027317,0.741599,0.002183,0.004858,1.192947,6.309848,30,1.063636e+10,1.192947,168.661011,5.124048e+11
13155,11104654,28000000002905,28,2.220446e-16,0,97.197350,82.709518,43.676567,1.200869e+10,1.247963e+09,7.259706e+09,4.587793e+11,19213404.0,4.417672,109.988373,68.841927,0.705865,0.009359,0.021186,0.640608,0.019841,0.049342,0.743705,0.001579,0.003758,0.506203,6.814752,30,1.192049e+10,0.506203,159.761032,4.354551e+11
13164,11247394,28000000003127,28,2.220446e-16,0,88.764885,47.226864,81.905136,1.186733e+10,2.167418e+09,1.667834e+10,3.501560e+11,10955883.0,10.748503,35.430313,49.607624,0.713676,0.008139,0.017882,0.678769,0.014162,0.033335,0.737761,0.002874,0.006602,0.686905,6.787498,30,1.124763e+10,0.604550,152.119400,3.759434e+11
13199,12002343,28000000004258,28,2.220446e-16,0,81.653595,7.551041,69.749985,1.051248e+10,5.572393e+08,7.774894e+08,2.778406e+11,10913080.0,4.104519,8.467325,42.269154,0.708844,0.008670,0.019753,0.607302,0.025038,0.064016,0.695981,0.010365,0.025381,0.195091,7.920490,30,1.030419e+10,0.195091,139.948212,2.927332e+11

In [7]:
data = {'GalaxyID_test':[],'GroupID_test':[],
        'Lm_snap1':[],'Lm_snap2':[],'Lm_snap3':[],'Lm_snap4':[],
        'Lm_snap5':[],'Lm_snap6':[],'Lm_snap7':[],'Lm_snap8':[],
        'Lm_snap9':[],'Lm_snap10':[],'Lm_snap11':[],'Lm_snap12':[],
        'Lm_snap13':[],'Lm_snap14':[],'Lm_snap15':[],'Lm_snap16':[],
        'Lm_snap17':[],'Lm_snap18':[],'Lm_snap19':[],'Lm_snap20':[],
        'Lm_snap21':[],'Lm_snap22':[],'Lm_snap23':[],'Lm_snap24':[],
        'Lm_snap25':[],'Lm_snap26':[],'Lm_snap27':[],'Lm_snap28':[]}

DATA_merge = pd.DataFrame(data=data)

In [8]:
simu='RefL0100N1504'
snap=28

In [9]:
long = len(table_a['GalaxyID'])

# long = 10

# Usuario y contraseña para conectarse a EAGLE DataBase
usr='cht015'
pwd='BH457tfj'

# Descargar merger tree completo de la galaxia deseada
# Nombre y alias de la tabla de la cual se quieren descargar datos
table='SubHalo'
table_alias='sub'

# Variables que se quiere descargar. OJO!! Asegurarse que estas variables
# estén en la tabla deseada.
columns=[
          'GalaxyID','LastProgID','TopLeafID','DescendantID',
          'SnapNum','Redshift','Stars_Mass','SF_Mass','GroupID'
        ]

#Loop para todas las galaxias de la tabla
for p in np.arange(long):

    galid = table_a['GalaxyID'].to_numpy()[p]
 
    # Descargar todos los IDS necesarios de la galaxia deseada

    myIDs    = mtt.retrieve_ids(usr,pwd,simu,snap,galid)

    raw_tree = mtt.download_merger_tree(usr,pwd,simu,myIDs['GalaxyID'],myIDs['LastProgID'],
                                  table=table,table_alias=table_alias,columns=columns)
    
    # Aplicar condiciones a las galaxias del árbol, si es necesario
    mask = (
            (raw_tree['Stars_Mass']>0)
           )

    # Armar arbol sólo con galaxias seleccionadas según condiciones anteriores
    tree = {}
    for key in raw_tree.keys():
        tree[key]=raw_tree[key][mask]
        
    # Ordeno las galaxias según SnapNum creciente
    mask_order = (tree['SnapNum']).argsort()
    for key in tree.keys():
        tree[key] = tree[key][mask_order]

    # Armo un diccionario con solo la main branch del árbol
    main_branch = {}
    # Select galaxies in the main branch 
    mask_main = np.logical_and(tree['GalaxyID']>=myIDs['GalaxyID'],
                               tree['GalaxyID']<=myIDs['TopLeafID']) 

    for key in tree.keys():
        main_branch[key] = tree[key][mask_main]

        
    xplot_main = main_branch['SnapNum']
    
    # Calculo level of merger
    level_merger=[1]       # Inicializo con un 1, porque la primer galaxia del main branch 
                           # no viene de ninguna fusión...
    
    for k in range(np.size(xplot_main)-1):
        m1=main_branch['Stars_Mass'][k]#+main_branch['SF_Mass'][k]
        mask=(tree['DescendantID']==main_branch['GalaxyID'][k+1]) & (tree['SnapNum']!=28)
        # La condición de snapnum distinto a 28 es porque galaxias a z=0 no tienen descendiente,
        # y se les asigna como DescendantID su propio GalaxyID
        m2=np.sum(tree['Stars_Mass'][mask])#+np.sum(tree['SF_Mass'][mask])
        level=m2/m1
        level_merger=np.append(level_merger,level)  
        
    #Calculamos las variables que nos interesan:
    
    i=0 

    if ((i<=len(main_branch['SnapNum'])-1)and(main_branch['SnapNum'][i]==1)):
        Lm_1 = level_merger[i]
        i=i+1
    else: Lm_1 = np.nan
    
    if ((i<=len(main_branch['SnapNum'])-1)and(main_branch['SnapNum'][i]==2)):
        Lm_2 = level_merger[i]
        i=i+1
    else: Lm_2 = np.nan
        
    if ((i<=len(main_branch['SnapNum'])-1)and(main_branch['SnapNum'][i]==3)):
        Lm_3 = level_merger[i]
        i=i+1
    else: Lm_3 = np.nan
        
    if ((i<=len(main_branch['SnapNum'])-1)and(main_branch['SnapNum'][i]==4)):
        Lm_4 = level_merger[i]
        i=i+1
    else: Lm_4 = np.nan
        
    if ((i<=len(main_branch['SnapNum'])-1)and(main_branch['SnapNum'][i]==5)):
        Lm_5 = level_merger[i]
        i=i+1
    else: Lm_5 = np.nan
        
    if ((i<=len(main_branch['SnapNum'])-1)and(main_branch['SnapNum'][i]==6)):
        Lm_6 = level_merger[i]
        i=i+1
    else: Lm_6 = np.nan
        
    if ((i<=len(main_branch['SnapNum'])-1)and(main_branch['SnapNum'][i]==7)):
        Lm_7 = level_merger[i]
        i=i+1
    else: Lm_7 = np.nan
        
    if ((i<=len(main_branch['SnapNum'])-1)and(main_branch['SnapNum'][i]==8)):
        Lm_8 = level_merger[i]
        i=i+1
    else: Lm_8 = np.nan
    
    if ((i<=len(main_branch['SnapNum'])-1)and(main_branch['SnapNum'][i]==9)):
        Lm_9 = level_merger[i]
        i=i+1
    else: Lm_9 = np.nan
        
    if ((i<=len(main_branch['SnapNum'])-1)and(main_branch['SnapNum'][i]==10)):
        Lm_10 = level_merger[i]
        i=i+1
    else: Lm_10 = np.nan
        
    if ((i<=len(main_branch['SnapNum'])-1)and(main_branch['SnapNum'][i]==11)):
        Lm_11 = level_merger[i]
        i=i+1
    else: Lm_11 = np.nan
        
    if ((i<=len(main_branch['SnapNum'])-1)and(main_branch['SnapNum'][i]==12)):
        Lm_12 = level_merger[i]
        i=i+1
    else: Lm_12 = np.nan
        
    if ((i<=len(main_branch['SnapNum'])-1)and(main_branch['SnapNum'][i]==13)):
        Lm_13 = level_merger[i]
        i=i+1
    else: Lm_13 = np.nan
        
    if ((i<=len(main_branch['SnapNum'])-1)and(main_branch['SnapNum'][i]==14)):
        Lm_14 = level_merger[i]
        i=i+1
    else: Lm_14 = np.nan
        
    if ((i<=len(main_branch['SnapNum'])-1)and(main_branch['SnapNum'][i]==15)):
        Lm_15 = level_merger[i]
        i=i+1
    else: Lm_15 = np.nan
        
    if ((i<=len(main_branch['SnapNum'])-1)and(main_branch['SnapNum'][i]==16)):
        Lm_16 = level_merger[i]
        i=i+1
    else: Lm_16 = np.nan
        
    if ((i<=len(main_branch['SnapNum'])-1)and(main_branch['SnapNum'][i]==17)):
        Lm_17 = level_merger[i]
        i=i+1
    else: Lm_17 = np.nan
        
    if ((i<=len(main_branch['SnapNum'])-1)and(main_branch['SnapNum'][i]==18)):
        Lm_18 = level_merger[i]
        i=i+1
    else: Lm_18 = np.nan
        
    if ((i<=len(main_branch['SnapNum'])-1)and(main_branch['SnapNum'][i]==19)):
        Lm_19 = level_merger[i]
        i=i+1
    else: Lm_19 = np.nan
        
    if ((i<=len(main_branch['SnapNum'])-1)and(main_branch['SnapNum'][i]==20)):
        Lm_20 = level_merger[i]
        i=i+1
    else: Lm_20 = np.nan
        
    if ((i<=len(main_branch['SnapNum'])-1)and(main_branch['SnapNum'][i]==21)):
        Lm_21 = level_merger[i]
        i=i+1
    else: Lm_21 = np.nan
        
    if ((i<=len(main_branch['SnapNum'])-1)and(main_branch['SnapNum'][i]==22)):
        Lm_22 = level_merger[i]
        i=i+1
    else: Lm_22 = np.nan
        
    if ((i<=len(main_branch['SnapNum'])-1)and(main_branch['SnapNum'][i]==23)):
        Lm_23 = level_merger[i]
        i=i+1
    else: Lm_23 = np.nan
        
    if ((i<=len(main_branch['SnapNum'])-1)and(main_branch['SnapNum'][i]==24)):
        Lm_24 = level_merger[i]
        i=i+1
    else: Lm_24 = np.nan
        
    if ((i<=len(main_branch['SnapNum'])-1)and(main_branch['SnapNum'][i]==25)):
        Lm_25 = level_merger[i]
        i=i+1
    else: Lm_25 = np.nan
        
    if ((i<=len(main_branch['SnapNum'])-1)and(main_branch['SnapNum'][i]==26)):
        Lm_26 = level_merger[i]
        i=i+1
    else: Lm_26 = np.nan
        
    if ((i<=len(main_branch['SnapNum'])-1)and(main_branch['SnapNum'][i]==27)):
        Lm_27 = level_merger[i]
        i=i+1
    else: Lm_27 = np.nan
        
    if ((i<=len(main_branch['SnapNum'])-1)and(main_branch['SnapNum'][i]==28)):
        Lm_28 = level_merger[i]
        i=i+1
    else: Lm_28 = np.nan
   
    
    
    


    data = {'GalaxyID_test':table_a['GalaxyID'].to_numpy()[p],'GroupID_test':table_a['GroupID'].to_numpy()[p],
            'Lm_snap1':Lm_1,'Lm_snap2':Lm_2,'Lm_snap3':Lm_3,'Lm_snap4':Lm_4,
            'Lm_snap5':Lm_5,'Lm_snap6':Lm_6,'Lm_snap7':Lm_7,'Lm_snap8':Lm_8,
            'Lm_snap9':Lm_9,'Lm_snap10':Lm_10,'Lm_snap11':Lm_11,'Lm_snap12':Lm_12,
            'Lm_snap13':Lm_13,'Lm_snap14':Lm_14,'Lm_snap15':Lm_15,'Lm_snap16':Lm_16,
            'Lm_snap17':Lm_17,'Lm_snap18':Lm_18,'Lm_snap19':Lm_19,'Lm_snap20':Lm_20,
            'Lm_snap21':Lm_21,'Lm_snap22':Lm_22,'Lm_snap23':Lm_23,'Lm_snap24':Lm_24,
            'Lm_snap25':Lm_25,'Lm_snap26':Lm_26,'Lm_snap27':Lm_27,'Lm_snap28':Lm_28}

    DATA_merge = DATA_merge.append(data,ignore_index=True)
    
    print('Porcentaje:',round(float((p+1)/long),2),end='\r')

In [10]:
DATA_merge = DATA_merge.astype({'GalaxyID_test':int,'GroupID_test':int,
                                'Lm_snap1':float, 'Lm_snap2':float, 'Lm_snap3':float, 'Lm_snap4':float,
                                'Lm_snap5':float, 'Lm_snap6':float, 'Lm_snap7':float, 'Lm_snap8':float,
                                'Lm_snap9':float, 'Lm_snap10':float,'Lm_snap11':float,'Lm_snap12':float,
                                'Lm_snap13':float,'Lm_snap14':float,'Lm_snap15':float,'Lm_snap16':float,
                                'Lm_snap17':float,'Lm_snap18':float,'Lm_snap19':float,'Lm_snap20':float,
                                'Lm_snap21':float,'Lm_snap22':float,'Lm_snap23':float,'Lm_snap24':float,
                                'Lm_snap25':float,'Lm_snap26':float,'Lm_snap27':float,'Lm_snap28':float})

In [11]:
DATA_merge

,GalaxyID_test,GroupID_test,Lm_snap1,Lm_snap2,Lm_snap3,Lm_snap4,Lm_snap5,Lm_snap6,Lm_snap7,Lm_snap8,Lm_snap9,Lm_snap10,Lm_snap11,Lm_snap12,Lm_snap13,Lm_snap14,Lm_snap15,Lm_snap16,Lm_snap17,Lm_snap18,Lm_snap19,Lm_snap20,Lm_snap21,Lm_snap22,Lm_snap23,Lm_snap24,Lm_snap25,Lm_snap26,Lm_snap27,Lm_snap28
0,9498012,28000000000002,NaN,1.0,1.0,1.0,1.326579,1.324162,1.035217,1.056251,1.028804,1.005793,1.005507,1.034417,1.064962,1.337511,1.003494,1.009208,1.002011,1.004553,1.238362,1.001277,1.001411,1.343438,1.000062,1.000963,1.000000,1.000000,1.000000,1.000006
1,9508202,28000000000002,1.0,1.0,1.0,1.0,1.014848,1.000000,1.000000,1.122971,1.021050,1.113887,1.011765,1.004638,1.004930,1.003518,1.001981,1.111446,1.015683,1.002252,1.234754,1.000217,1.000102,1.000091,1.000106,1.000407,1.000046,1.000020,1.000043,1.000027
2,9512113,28000000000002,NaN,1.0,1.0,1.0,1.635216,1.388297,1.056919,1.041179,1.052835,1.045753,1.022332,1.519606,1.001439,1.004004,1.001096,1.011577,1.002066,1.001148,1.001418,1.020033,1.003170,1.002646,1.000731,1.567471,1.000176,1.000097,1.000289,1.000071
3,9517736,28000000000002,NaN,NaN,NaN,NaN,1.000000,2.409535,1.597078,1.000000,1.178546,1.000000,1.500062,1.287915,1.208002,1.005028,1.000000,1.001125,1.001609,1.000590,1.003278,1.000000,1.000579,1.000342,1.000000,1.000000,1.000000,1.000000,1.000000,1.152090
4,9519365,28000000000002,NaN,1.0,1.0,1.0,2.036554,1.184030,1.105157,1.100664,1.000000,1.000000,1.041845,1.043104,1.039098,1.006911,1.000836,1.016977,1.000203,1.000806,1.002485,1.002425,1.001401,1.000877,1.000798,1.000996,1.000504,1.006195,1.000000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3633,10365607,28000000002202,NaN,NaN,NaN,1.0,3.357420,1.000000,1.000000,2.532558,1.000000,1.311864,1.417995,1.039582,1.020005,1.023842,1.005618,1.002236,1.003803,1.000000,1.071442,1.000154,1.000000,1.001024,1.000000,1.000000,1.000000,1.000859,1.000520,1.000437
3634,10859653,28000000002570,NaN,NaN,NaN,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.056767,1.043361,1.190391,1.031348,1.005875,1.000000,1.000000,1.034101,1.000434,1.000832,1.001490,1.002197,1.002288,1.000213,1.001746,1.001038,1.002874,1.000171
3635,11104654,28000000002905,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,2.212125,1.000000,1.091417,1.000000,1.348556,1.078366,1.001639,1.005175,1.000000,1.000000,1.001553,1.000000,1.000000,1.000569,1.000574,1.002320,1.000888,1.000103,1.000000,1.000000
3636,11247394,28000000003127,NaN,NaN,NaN,NaN,NaN,1.000000,1.575846,1.075089,1.000000,1.186519,1.024674,1.016153,1.029270,1.054278,1.003439,1.001228,1.012810,1.005037,1.002281,1.000882,1.004009,1.002128,1.004457,1.000835,1.000000,1.003815,1.000514,1.000630
3637,12002343,28000000004258,NaN,1.0,1.0,1.0,1.000000,1.000000,1.000000,1.148733,1.000000,1.000000,1.000000,1.104360,1.292007,1.017968,1.003056,1.000000,1.005336,1.001977,1.000292,1.000000,1.000000,1.000000,1.000000,1.263718,1.000000,1.000104,1.000000,1.000000

In [12]:
DATA_merge.to_csv(path_or_buf= path_lin+'/Actividad_8(merger_history_solo_star_mass).dat',index=False) # Nos guardamos los datos

* Snapshot 19 = Redshift 1
* Snapshot 28 = Redshift 0

## Pruebas fraction of merger

In [3]:
DATA_merge  = pd.read_csv(path_lin+'/Actividad_8(merger_history).dat')

In [20]:
mask = (DATA_merge['Lm_snap6'] == 0)
DATA_merge[mask]

,GalaxyID_test,GroupID_test,Lm_snap1,Lm_snap2,Lm_snap3,Lm_snap4,Lm_snap5,Lm_snap6,Lm_snap7,Lm_snap8,...,Lm_snap19,Lm_snap20,Lm_snap21,Lm_snap22,Lm_snap23,Lm_snap24,Lm_snap25,Lm_snap26,Lm_snap27,Lm_snap28
7,2727611,28000000000002,NaN,NaN,1.0,NaN,NaN,0.0,1.891800,1.000000,...,1.018315,1.033089,1.068498,1.000000,NaN,NaN,NaN,0.00000,NaN,NaN
14,4470669,28000000000004,NaN,NaN,1.0,1.0,NaN,0.0,1.000000,1.000000,...,1.023634,1.000000,1.027689,1.029271,1.015195,1.006829,1.000000,1.00000,1.000000,NaN
18,10507082,28000000002364,NaN,NaN,1.0,NaN,NaN,0.0,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000
24,10352660,28000000002189,NaN,NaN,1.0,1.0,NaN,0.0,1.000000,1.000000,...,1.000000,1.474600,1.333145,1.000000,1.000000,1.007035,1.000000,1.00000,1.000000,1.000000
34,21793,28000000000000,NaN,1.0,NaN,NaN,NaN,0.0,2.658798,1.000000,...,1.043703,1.000000,1.004681,1.000000,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3595,8667711,28000000000817,NaN,1.0,NaN,NaN,NaN,0.0,1.000000,1.000000,...,1.047138,1.029600,1.006176,1.000000,1.037501,1.012499,1.000626,1.00000,1.000000,1.000000
3602,18385552,28000000001003,NaN,1.0,NaN,NaN,NaN,0.0,1.000000,1.000000,...,1.000000,1.010950,1.016656,1.026810,1.010499,1.007426,1.011448,1.00701,1.009407,1.017955
3614,2979098,28000000001336,NaN,NaN,NaN,1.0,NaN,0.0,1.000000,1.000000,...,1.000000,1.000000,1.006409,1.000000,1.000000,1.023178,1.007344,1.00000,1.033620,1.016327
3622,9733375,28000000001609,NaN,NaN,1.0,NaN,NaN,0.0,1.000000,1.000000,...,1.042202,1.000000,1.000000,1.000000,1.000000,1.003019,1.000000,1.00000,1.000000,1.022765
3623,9861180,28000000001714,NaN,NaN,1.0,NaN,NaN,0.0,1.250106,1.190671,...,1.019086,1.000000,1.000000,1.000000,1.005158,1.000000,1.000000,1.00000,1.000000,1.000000

In [ ]:
# Fin